* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* -- header -- */

.top-header {
    height: 75px;
    background-color: #222222;
}

.navigation-panel {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding-right: 10px ;
}

.top-left-block {
    width: 111px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-right-block {
    width: 169px;
    display: flex;
    align-items: center;

}

.login-button{
    text-decoration: none;
    width: 29px;
    height: 29px;
    margin-right: 42px;
    margin-left: 25px;
}

.basket-button {
    display: flex;
    position: relative;
    text-decoration: none;
    justify-content: right;
}

.count-items {
    margin-right: -10px;
    margin-top: -6px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    top: 0;
}
.count-items-number {
    
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/* -- pop-up-menu -- */
input[type=checkbox]:checked ~ .pop-up-menu {
    display: flex;
}

#on-click {
    display: none;
}

.pop-up-menu {
    display: none;
    position: absolute;
    z-index: 30;
    background-color: #FFFFFF;
    margin-top: 25px;
    width: 232px;
    height: 764px;
    padding: 16px 0 157px 34px;
    right: 0;
    box-sizing: border-box;
}

.pop-up-menu-general-items-decoration {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.pop-up-menu-menu-link,
.pop-up-menu-item-link,
.pop-up-menu-general-name-link {
    text-decoration: none;
}

.pop-up-menu-close {
    align-self: flex-end;
    margin-right: 16px;
}

.pop-up-menu-menu-link {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.pop-up-menu-general-name-link {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.pop-up-menu-item-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.pop-up-menu-menu {
    margin-bottom: 4px;
}

.pop-up-menu-general-name {
    margin: 20px 0 12px 0;
}

.pop-up-menu-item {
    margin-bottom: 11px;
}

.pop-up-menu-item:last-child {
    margin-bottom: 0;
}

.pop-up-menu-general-items {
    padding-left: 21px;
}


/* -- section_1 -- */

.banner-whith-man {
    position: relative;
    height: 764px;
    background-color: #F1E4E6;
}

.man-in-black {
    position: relative;
    height: 764px;
    background-image: url(img/man-in-black.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    
}

.the-brand {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 290px;
    right: 90px ;
}

.the-brand::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    left: -28px ;
}

.top-the-brand-text {
    display: block;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.bottom-the-brand-text {
    display: block;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #222222;
}

.bottom-the-brand-text span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #F16D7F;
}

/* -- section_2 -- */

.personal-offer {
    height: 630px;

}

.personal-offer-first-part {
    display: flex;
    padding-top: 65px;
}

.personal-offer-second-part {
    display: flex;
    margin-top: 30px;
}

.personal-offer-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.personal-offer-upper-text,
.personal-offer-lower-text {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    text-align: center;
   
}

.personal-offer-upper-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.personal-offer-lower-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #F16D7F;
}
.personal-offer-for-women {
    background-image: url(img/personal-women.png);
    margin-right: 30px;
}

.personal-offer-for-men {
    background-image: url(img/personal-men.png);
    margin-right: 30px;
}

.personal-offer-for-kids{
    background-image: url(img/personal-kids.png);
}

.personal-offer-for-women,
.personal-offer-for-men,
.personal-offer-for-kids {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 360px;
    
    height: 260px;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.personal-offer-accesorise {
    
    background-image: url(img/personal-accesorise.png);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 1140px;
    max-width: 100%;
    height: 180px;
    max-height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;    
}

/* --section_3 -- */

.product-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.product-cards-header-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.product-cards-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product-cards-sub-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.product-cards-mainblock {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 18px;
}

.product-cards-item {
    margin-top: 30px;
    width: 360px;
    height: 581px;
    box-sizing: border-box;
    background-color:#F8F8F8;
}

.product-cards-item-image-img {
    position: absolute;
}
.product-cards-item-image-darken {
    width: 360px;
    height: 420px;
    position: relative;

}

.product-cards-item-image-darken:hover {
    
    text-align: center;
    background: rgba(58, 56, 56, 0.86);
    background-blend-mode: darken;
    cursor: pointer;

}


.product-cards-item-name {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 24px;
    padding-left: 18px;
}

.product-cards-item-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    padding-left: 18px;
}

.product-cards-item-name-price{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;  
    color: #F16D7F;
    margin-top: 18px;
    padding-left: 18px;
}

.product-cards-button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 35px;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    align-self: center;
    margin: 77px 0 123px 0;
}

/* -- section_4 -- */

.special-offers {
    background-color: #222224;
    height: 341px;
}

.special-offers-block {
    display: flex;
    justify-content: space-between;
    height: 341px;
    align-items: center;
}

.special-offers-item {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.special-offers-item-head {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.special-offers-item-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

/* -- footer -- */

.webpage-footer {
    display: flex;
    flex-direction: column;
}

.feedback-background {
    height: 448px;
    background-image: url(img/background_footer.png);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-color: rgba(244, 244, 244, 0.7);
    background-blend-mode: lighten;
}

.feedback-block {
    height: 448px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-block-left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    width: 360px;
}

.feedback-block-left-txt {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-bottom: 20px;
}

.feedback-block-right-part {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feedback-block-right-sendform {
    display: flex;
    justify-content: center;
}

.feedback-block-right-header {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40.13px;
    text-align: center;
    color: #222224;
}

.feedback-block-right-txt {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;    
}

.feedback-block-right-input {
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    height: 49px;
    width: 256px;
    padding-left: 22px;font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    background-color: #E1E1E1;
    border-style: none;
}

.feedback-block-right-button {
    display: flex;
    box-sizing: border-box;
    background-color: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    height: 49px;
    width: 100px;
    border-radius: 0 20px 20px 0;
    border-style: none;
}
.feedback-block-right-button:hover {
    background-color: #FFFFFF;
    color: #F16D7F;
    cursor: pointer;
}
.feedback-block-right-button:focus {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.footer-bottom-background {
    height: 79px;
    background: #222224;
}

.footer-bottom-block {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-allrigts {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social-networcs-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 148px;
}

.social-networcs-icon-button {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    align-self: center;
    justify-content: center;
    align-items: center;

}

.social-networcs-icon-button:hover {
    background-color:#F16D7F;
    cursor: pointer;
}


.tst {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    align-self: center;
    justify-content: center;
    align-items: center;
}

/* -- pagination -- */

.product-cards:last-child {
    align-items: center;   
}

.pagination {
    display: inline-block;
    border: 1px solid #EBEBEB;
    margin: 48px auto 96px auto;
  }
  
  .pagination a {
    color: #EBEBEB;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    color: #EF5B70;
  }

/* -- ctalog-filter and breadcrumps --*/

.catalog-product-cards-header-firstlevel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-header-txt {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    margin: 59px auto 60px 0;
}

.catalog-product-cards-header-secondlevel {
    display: flex;
    justify-content: space-between;
}

ul.catalog-header-page-breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.catalog-header-page-breadcrumb li {
    display: inline;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

ul.catalog-header-page-breadcrumb li+li::before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.catalog-header-page-breadcrumb li a {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

ul.catalog-header-page-breadcrumb li a:hover {
    color: #F16D7F;
}



.catalog-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}

.catalog-filter:hover {
    cursor: pointer;
}

.catalog-filter-sections {

}

.catalog-filter-txt {
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.catalog-product-cards-header-secondlevel {
    margin-bottom: 65px;
}

.catalog-filter-icon {
    fill: #000000;
}

.catalog-filter-elements{
    align-self: center;
    display: flex;
}

.catalog-filter-elements li {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-right: 28px;
}